.pokemon-card {
  width: 190px;
  background-color: #A0E4CB !important;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  margin: 10px;
}

.Details-card {
  width: auto;
  background-color: #478976;  
  padding: 0 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 600px;
  box-sizing: border-box;
  margin: 10px;
}

.mypokemon-card {
  display: flex;
  align-items: center;
  padding: 0 5rem;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 20px;
  
}