.pokemon-card {
    width: 300px;
    border-radius: 1rem;
    background-color: #8EC3B0;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin: 10px;
}