.button {
  background-color: white;
  color: black;
  border: 2px solid;
  height: 35px;
}

.button:hover {
  background-color: #008b8b;
  color: white;
}

.ability {
  width: 300px;
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  box-sizing: border-box;
  margin: 10px;
}

.Details {
  width: auto;
  background-color: rgb(79, 221, 221);
  border-radius: 1rem;
  padding: 0 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 400px;
  box-sizing: border-box;
  margin: 20px;
}