.container {
    width: 300px;
    background-color: darkcyan;
    border-radius: 1rem;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    box-sizing: border-box;
    margin: 20px;
    text-decoration: none;
    list-style: none;
}
.Details{
     width: auto;
    background-color: darkcyan;
    border-radius: 1rem;
    padding: 0 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    box-sizing: border-box;
    margin: 20px;
 }
 .ability{
     width: 450px;
    background-color: cornflowerblue;
    /* border-radius: 1rem; */
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    box-sizing: border-box;
    margin: 20px;
  
 }
 body{
background-color:powderblue;
 }